.vs
.vs/*
*.meta
RadialControllerProject/Build
RadialControllerProject/obj
RadialControllerProject/Temp
RadialControllerProject/packages
RadialControllerProject/Library
RadialControllerProject/Library/**
UnityLibraries/UWP/**
project.lock.json
WSATestCertificate.pfx
obj
obj/**
bin
bin/**
*.pdb
project.lock.json